
html{
  height: 100%; width: 100%;
  }
  
div
  {
  margin: 0px;padding: 0px; 
  /*border:1px solid rgb(17, 92, 255);*/
  }
h1,h2,h3,h4{
font-family: 'Russo one', sans-serif;
font-style:normal;
font-weight: 900;
color: white;
margin:0px;
padding:0px;
width:fit-content;
}

  .containerhastar
  {
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    background-color: #dca435;
    flex: 1;
    height:auto;
    padding:0px;
    margin-bottom: 4px;
    border:1px solid yellow;
  }
  .hastarbild
  {
    background-image: url("../images/hastinfoback.png");
    background-repeat:no-repeat; 
    background-size:contain; 
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    flex-grow: 0;
    width:120px;
    height: auto;
    padding-top:18px;
    margin-top:0px;
    /*border:1px solid red;*/
  }
  /*.hastarbild>img
  {
    transform: scaleX(-1);
  }
  */
  .stallnummer
  {
    justify-content: center;
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    flex-grow: 0;
    width:168px;
    height: auto;
    padding-top:0px;
    margin-top:0px;
    /*border:1px solid red;*/
  }
  .stallnummer > h2 {
    color:#A2678A;
    font-size: 60pt;
    margin:10px;
    padding:0px;
  }
  .hastarinfo
  {
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content:flex-start;
    align-items: center;
    flex-grow: 1;
    height:auto;
    width:auto;
    padding-left:5px;
    padding-right:5px;
    padding-top:0px;
    margin-top:0px;
    /*border:1px solid red;*/
  }
  .hastartabell
  {
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content:left;
    align-items: center;
    flex-grow: 1;
    height:auto;
    width:auto;
    padding:0px;
    margin-top:0px;
    /*border:1px solid red;*/
  }

  li{margin:0px;padding:0px;}
  ul{margin:0px;padding:0px;list-style-type: none;/*border:1px solid red;*/}
  p{margin:0px;padding:0px;}

body{
background-image: url("../images/shoe.png");
background-repeat: no-repeat; 
margin:0px;
padding:0%;
background-position-y: center;
background-size:80%;
overflow-y:scroll;overflow-x:hidden;
background-color: #A2678A;
}
.container {
margin-left:10%;
width:70%;
flex:1;
flex-direction: column;
color: white;
display: flex;
padding-left:5%;
padding-right:5%;
position: relative;
padding-top: 2%;
padding-bottom: 2%;
/*border: 4px solid green;*/
}

.container > .main {
flex-basis: 400px;
}

.top 
  {
display: flex;
background-image: url("../images/topback.png");
background-repeat:no-repeat; 
height: 200px;
background-size: cover;
background-position: left;
border-top-right-radius: 50%;
border-top-left-radius: 50%;
padding-left:0px;
padding-top: 0px;
background-color: #dca435;
border: 1px solid black;
opacity:0.9;
justify-content: center; 
align-items: center;
margin:0px;
-webkit-text-stroke-width: 2px;
-webkit-text-stroke-color: black;
color:white;
font-family: 'Russo one', sans-serif;
font-style: italic;
font-size: 40pt;
padding: 0px;
  }
.top h4{
  margin-left: 23px;
  padding:0px;
  font-family: 'Russo one', sans-serif;
  font-style:italic;
  font-weight: 300;
}
.meny
  {
text-align: center;
padding: 10px;
background-color: #3F1D38; 
border-left: 1px solid black;
border-right: 1px solid black;
opacity: 0.9;
font-family: 'Russo one', sans-serif;
font-style: italic;
font-size: 12pt;
color: white;
  }

  .meny a {
    font-family: 'Russo one', sans-serif;
    font-style:normal;
    font-weight: bold;
    font-size: 12pt;
    color: white;
}
  .meny a:link, a:visited {
        background-color: #dca435;
        color: white;
        padding: 5px 10px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        border-radius: 30%;
        margin: 5px;
      }
      
    .meny a:hover, a:active {
        background-color: #f6e5a8
      }

  
.main 
{
  background-color: #3F1D38; 
  overflow-y:scroll;overflow-x:hidden;
  border-left: 1px solid black;
  border-right: 1px solid black;
  opacity: 0.9;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom:20%;
  font-family: 'Russo one', sans-serif;
  font-style: normal;
  font-size: 14pt;
  /*border:3px solid yellow;*/
}
.main a:hover, a:active 
{
color: #ffffff;
text-decoration: none;
}
.main a, a:visited
{
color: #ffffff;
text-decoration: underline;
}

/* width */
::-webkit-scrollbar {
width: 10px;
}
/* Track */
::-webkit-scrollbar-track {
background: #3F1D38;
}
/* Handle */
::-webkit-scrollbar-thumb {
background: #dca435
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
background: #f6e5a8
}
.footer
{ 
background-color: #3F1D38;
border-left: 1px solid black;
border-right: 1px solid black;
background-image: url("../images/fence.png");
background-repeat:repeat-x; 
background-size: contain; 
height: 100px;
background-position: left;
opacity: 0.9;
}

.last 
{
background-color: #0f6c37;
border-left: 1px solid black;
border-right: 1px solid black;
border-bottom: 1px solid black;
border-bottom-left-radius: 100%;
border-bottom-right-radius:100%;
background-image: url("../images/grass.png");
background-repeat:repeat-x; 
background-size: contain; 
height: 100px;
opacity: 0.9;
}

.horse
{          
  position: absolute;
  top: 70%;
  left: 22%;
  width: 300px;
  height: 300px;
}

.stallklubbtext
{          
  font-family: 'Courier New', Courier, monospace;
  font-weight: bolder;
  font-style: italic;
  font-size: 85pt;
}

